<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
            <key>bomb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{50,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,146}}</string>
                <key>sourceSize</key>
                <string>{50,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bomb.png</string>
            <key>size</key>
            <string>{54,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3074eedca33580b34289993226aee6da:ef215b6d2d0f0f3f65c220d57ef41c94:1e1b10e576cef9be88a3ef3da7e44cee$</string>
            <key>textureFileName</key>
            <string>Bomb.png</string>
        </dict>
    </dict>
</plist>
