<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame1RightBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,119}}</string>
                <key>sourceSize</key>
                <string>{100,119}</string>
            </dict>
            <key>frame2RightBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,119}}</string>
                <key>sourceSize</key>
                <string>{100,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jumpBlue.png</string>
            <key>size</key>
            <string>{206,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21e565f548d6962c510aaf2ce2fd3656:40bb77310f7966e49b64ae3e8749d6c2:326dbae10b1442cc3961504fcae950a0$</string>
            <key>textureFileName</key>
            <string>jumpBlue.png</string>
        </dict>
    </dict>
</plist>
