<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame1Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,119}}</string>
                <key>sourceSize</key>
                <string>{100,119}</string>
            </dict>
            <key>frame2Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,119}}</string>
                <key>sourceSize</key>
                <string>{100,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{206,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae68bc23c904ff28a92b209ebc370f64:971b41263532b055d35bcd3710f210af:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
