<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1846},{70,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>StarBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{314,304}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{314,304}}</string>
                <key>sourceSize</key>
                <string>{350,344}</string>
            </dict>
            <key>Time.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1664},{164,180}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{164,180}}</string>
                <key>sourceSize</key>
                <string>{180,192}</string>
            </dict>
            <key>blade.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,308},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>darkStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,601},{1,1}}</string>
                <key>offset</key>
                <string>{-189.5,189.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{508,534}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{508,534}}</string>
                <key>sourceSize</key>
                <string>{540,582}</string>
            </dict>
            <key>highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{400,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,162}}</string>
                <key>sourceSize</key>
                <string>{400,162}</string>
            </dict>
            <key>highlightBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>iPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1664},{253,326}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{253,326}}</string>
                <key>sourceSize</key>
                <string>{255,330}</string>
            </dict>
            <key>one.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1138},{500,524}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{500,524}}</string>
                <key>sourceSize</key>
                <string>{540,552}</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1674},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,601},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sliderProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,590},{248,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{248,9}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>sliderTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1838},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>spike.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,308},{128,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>three.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,604},{506,532}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{506,532}}</string>
                <key>sourceSize</key>
                <string>{540,562}</string>
            </dict>
            <key>two.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{508,532}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{508,532}}</string>
                <key>sourceSize</key>
                <string>{540,566}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Utils.png</string>
            <key>size</key>
            <string>{1020,1919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7451fb78d511c6ee2890d27d711529d1:27cce8de1dd4fd859b6f006c5dc06172:d637a8c2226c1435e2dfcaf874a31605$</string>
            <key>textureFileName</key>
            <string>Utils.png</string>
        </dict>
    </dict>
</plist>
