<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bomb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bomb.png</string>
            <key>size</key>
            <string>{29,827}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e086cc29661b2b7b17790d745b164454:a5074c83e773a76ae4b5a312e2c0a92f:1e1b10e576cef9be88a3ef3da7e44cee$</string>
            <key>textureFileName</key>
            <string>Bomb.png</string>
        </dict>
    </dict>
</plist>
