<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MidAirExplo__000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,350},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,350},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,698},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,698},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>MidAirExplo__010.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1046},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Explosion.png</string>
            <key>size</key>
            <string>{1196,1394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4768e0d8f3980614fb73d4b5b757a678:5ae6f501e3e00020026d1b1e655f52b0:fe049886709682b4c74f6865e9893d85$</string>
            <key>textureFileName</key>
            <string>Explosion.png</string>
        </dict>
    </dict>
</plist>
